#terorist{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    border: solid 0.1rem;
    border-radius: 0.2rem;
    background-color: white;
}

#terorist:hover{
    background-color:rgb(184, 209, 134);
    padding: 0.2%;
}

.foont{
    object-fit: cover;
    width: 3rem;
    height: 3rem;
}
#allTerorist{
    width: 93vw;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.foontP{
    font-size: 0.5rem;
}
#linefirst{
    margin-left: 9rem;
    width: 68vw;
    justify-content: space-around;
    display: flex;
    gap: 5%;

}
.blue{
    background-color: blueviolet;
    color: white;
    padding: 1px;
    border-radius: 0.3rem;
}
#button{
    height: 1.1rem;
    background-color:darkslateblue ;
    color: white;
}
#options{
    width: 113.2%;
    display: flex;
    margin-top: 1%;
    justify-content: space-between;
    border: solid 0.01rem;
    padding: 2%;
}
.option:hover{
    background-color: rgb(247, 187, 177);
}
